.Callout {
  &-title {
    width: 100%;
    margin-bottom: 2rem;
    text-transform: none;
    font-size: 3rem;
  }

  &-iframeWrapper {
    max-width: 900px;
    margin: 0 auto 3rem;
  }

  &-button {
    color: $turquoise;
    border-color: $turquoise;
  }

  &-iframe {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.3%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
